.customClass {
	color: red;
}
h3 {
	color: white;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background-color: #ff0450;
}
.ant-menu-dark .ant-menu-item-selected .anticon + span {
	color: white;
}
.ant-menu-dark .ant-menu-item-selected .anticon {
	color: white;
}
.ant-layout-sider-trigger {
	color: #ff0450;
}
.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
	background-color: #19191970;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
	background: #191919;
}
.ant-layout {
	background-color: #414141;
}

.login {
	background-color: #313131;
	position: relative;
	min-height: 100vh;
	min-width: auto;
	margin: 0 auto;
	justify-content: center;
	display: flex;
	align-items: center;
	text-align: center;
	color: #131313;
}
.login-inside-div {
	background-color: #191919;
	min-width: 50vw;
}
.login-inside-div,
h1 {
	color: white;
}
.active-link {
	color: #131313;
}

.ant-typography a {
	color: #ff0450;
}
.loader {
	text-align: center;
	color: white;
}
.ant-form-item-label > label {
	color: white;
}

/* .post-divider.ant-divider-horizontal.ant-divider-with-text-center::before,
.post-divider.ant-divider-horizontal.ant-divider-with-text-left::before,
.post-divider.ant-divider-horizontal.ant-divider-with-text-right::before,
.post-divider.ant-divider-horizontal.ant-divider-with-text-center::after,
.post-divider.ant-divider-horizontal.ant-divider-with-text-left::after,
.post-divider.ant-divider-horizontal.ant-divider-with-text-right::after {
	border-top: 1px solid white;
}*/

.post-divider {
	text-align: end;
	color: white;
	border-bottom: 2px solid #ff0450;
}

.ant-divider-horizontal.ant-divider-with-text-center,
.ant-divider-horizontal.ant-divider-with-text-left,
.ant-divider-horizontal.ant-divider-with-text-right {
	display: table;
	margin: 16px 0;
	color: white;
	font-size: 100%;
	text-align: center;
	background: transparent;
}

.username-comment {
	float: right;
	background-color: #313131;
	border-radius: 0.5vw;
	font-size: "large";
}
.online:hover {
	background-color: green;
}
.offline:hover {
	background-color: red;
}
.load-post-container {
	text-align: center;
	padding: 0.5%;
}
.load-posts {
	background-color: #ff0450;
	border-radius: 5px;
	padding: 1vh;
	font-size: 2.5vh;
	position: fixed;
	color: white;
	cursor: pointer;
}
.load-posts-older {
	background-color: #ff0450;
	color: white;
	border-radius: 5px;
	font-size: 3vh;
	cursor: pointer;
	padding: 0.25%;
}
.user-status-switch {
	/* color: black; */
}
.site-layout {
	overflow: hidden;
}
.site-layout-background-posts {
	padding: 2.5%;
	min-height: 50vh;
	background-color: rgb(25, 25, 25);
	/* background-color: #dbc9b8; */
	margin: 5%;
	word-break: break-word;
	z-index: 1;
}
.site-layout-background-posts-loader {
	padding: 2.5%;
	color: transparent !important;

	min-height: 50vh;
	background-color: rgb(25, 25, 25);
	margin: 5%;
}
.ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title,
.ant-skeleton.ant-skeleton-active
	.ant-skeleton-content
	.ant-skeleton-paragraph
	> li {
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(25%, #f2f2f2),
		color-stop(37%, #e6e6e6),
		color-stop(63%, #f2f2f2)
	);
	background: linear-gradient(90deg, #ffffff70 25%, #313131 37%, #313131 63%);
	background-size: 400% 100%;
	-webkit-animation: ant-skeleton-loading 1.4s ease infinite;
	animation: ant-skeleton-loading 1.4s ease infinite;
}
.site-layout-background-comments {
	/* padding: 0,
	minWidth: "50vw",
	backgroundColor: "#525252",
	color: "#131313",
	fontSize: 20 */
	padding: 0;
	min-width: 50vw;
	background-color: #525252;
	color: #ffffff;
	font-size: large;
	margin-top: -6%;
	z-index: 0;
}
.comment-input {
	background: rgba(0, 0, 0, 0.25);
	outline: none;
	width: 100%;
	border: none;
	padding: 1.5vh;
}
.comment {
	border-bottom: 0.003vh solid #131313;
	padding: 1.5vh;
	word-break: break-word;
	contain: content;
}

.header-class {
	background-color: #313131;
	text-align: end;
	color: white;
	font-size: xx-large;
}
.logo {
	margin: 10% 0 0 0;
	text-align: center;
	color: white;
	background-color: #ff0450;
}
.ant-form-item-control-input-content input {
	background-color: transparent;
	color: white;
}
.ant-form-item-control-input-content textarea {
	background-color: transparent;
	color: white;
}
.ant-btn-primary {
	color: white;
	background-color: #ff0450;
	border-color: #ff0450;
}
.ant-btn-primary:hover {
	color: #ff0450;
	background-color: white;
	border-color: #ff0450;
}
