.customClass {
	color: red;
}
.ant-menu-item-selected {
	background-color: violet;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background-color: #dbc9b8;
}
.ant-menu-dark .ant-menu-item-selected .anticon + span {
	color: #131313;
}
.ant-menu-dark .ant-menu-item-selected .anticon {
	color: #131313;
}
.ant-layout-sider-trigger {
	color: #dbc9b8;
}
.ant-layout {
	background-color: #414141;
}

.login {
	background-color: #313131;
	position: relative;
	min-height: 100vh;
	min-width: auto;
	margin: 0 auto;
	justify-content: center;
	display: flex;
	align-items: center;
	text-align: center;
	color: #131313;
}
.login-inside-div {
	background-color: #dbc9b8;
	color: #131313;
	min-width: 50vw;
}
.login-inside-div,
h1 {
	color: #131313;
}
.active-link {
	color: #131313;
}

.ant-typography a {
	color: black;
}
.loader {
	text-align: center;
	color: #dbc9b8;
}
.ant-form-item-label > label {
	color: #131313;
}
.post-divider.ant-divider-horizontal.ant-divider-with-text-center::before,
.post-divider.ant-divider-horizontal.ant-divider-with-text-left::before,
.post-divider.ant-divider-horizontal.ant-divider-with-text-right::before,
.post-divider.ant-divider-horizontal.ant-divider-with-text-center::after,
.post-divider.ant-divider-horizontal.ant-divider-with-text-left::after,
.post-divider.ant-divider-horizontal.ant-divider-with-text-right::after {
	border-top: 1px solid #313131;
}
ant-divider-inner-text {
	color: #313131;
}
.username-comment {
	float: right;
	background-color: #313131;
	border-radius: 0.5vw;
	font-size: "large";
}
.online:hover {
	background-color: green;
}
.offline:hover {
	background-color: red;
}
.load-post-container {
	text-align: center;
	padding: 0.5%;
}
.load-posts {
	background-color: #002140;
	border-radius: 1.5vw;
	padding: 1vh;
	font-size: 2.5vh;
	position: fixed;
	color: #dbc9b8;
	cursor: pointer;
}
.load-posts-older {
	background-color: #131313;
	color: #dbc9b8;
	border-radius: 5px;
	font-size: 3vh;
	cursor: pointer;
	padding: 0.25%;
}
.user-status-switch {
	/* color: black; */
}
.site-layout-background-posts {
	padding: 2.5%;
	min-height: 50vh;
	background-color: #dbc9b8;
	/* background-color: #dbc9b8; */
	color: #131313;
	margin: 5%;
	word-break: break-word;
	z-index: 1;
}
.site-layout-background-comments {
	/* padding: 0,
	minWidth: "50vw",
	backgroundColor: "#525252",
	color: "#131313",
	fontSize: 20 */
	padding: 0;
	min-width: 50vw;
	background-color: #525252;
	color: #ffffff;
	font-size: large;
	margin-top: -6%;
	z-index: 0;
}
.comment-input {
	background: rgba(0, 0, 0, 0.25);
	outline: none;
	width: 100%;
	border: none;
	padding: 1.5vh;
}
.comment {
	border-bottom: 0.003vh solid #131313;
	padding: 1.5vh;
	word-break: break-word;
	contain: content;
}

.header-class {
	background-color: #313131;
	text-align: end;
	color: #dbc9b8;
	font-size: xx-large;
}
